<div class="wrapper-form">
  <div class="container">
    <h1>My classrooms</h1>
    <div class="content">
      <div class="form">
        <%= link_to "Back to index", quizzs_path %>
        <% @classrooms.each do |classroom| %>
          <h2><%= classroom.name  %></h2>
          <%= link_to "View results", classroom_path(classroom), method: :get %>
        <% end %>
      </div>
    </div>
  </div>
</div>


