<div class="intro" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 50%), url(<%= image_path("test.jpg")%>);">
  <h1>Classroom Analysis</h1>
</div>

<div class="action text-center">
  <button type="button" class="btn-index"><%= link_to "New classroom"%></button>
</div>

<div class="container">
  <div class="row">
    <% @classrooms.each do |classroom| %>
      <div class="col-xs-12-offset-4 col-sm-6 col-md-4">
        <%= link_to classroom_path(classroom) do %>
          <div class="classroom_card shadow-z-1">
          <div><%= classroom.name%></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


