.super-wrapper-classroom {
  min-height: calc(100vh - 120px);
  text-align: center;
  padding-top: 80px;
}


.intro h1{
  padding-top: 80px;
  text-align: center;
  margin-top: 0;
}

.intro h3{
  text-align: center;
}
