/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column
}

.banner-content {
  padding-top: 150px;
  padding-bottom: 150px;
  h1 {
    text-shadow: 2px 2px 2px grey;
    font-family: $home-font;
    font-size: 80px;
  }
}

.btn-medium-home {
  color: #33658A;
  border: 2px solid white;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  width: 170px;
  background-color: #F2EA57;
  font-weight: bolder;

  h5{
    font-family: $home-font;
  }
}
.btn-medium-home:hover {
  text-decoration: none;
  color: #999999;
  border: 2px solid #33658A;
}


.wrapper {
  padding-top: 55px;
  padding-bottom: 55px;
}

.concept {
  display: flex;
  justify-content: center;
}

.card-static {
  height: 270px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12),0 1px 6px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card-static > i {
  font-size: 60px;
}

.card-static > h3 {
  color: grey;
}

.card-static > p {
  color: grey;
}

.shadow-z-1 {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12),0 1px 6px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
}
.shadow-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
}

.fa-square-o {
  color: #33658A;
  text-shadow: 3px 3px rgb(235, 235, 235);
}
.fa-plus-square-o {
  color: #33658A;
  text-shadow: 3px 3px rgb(235, 235, 235);
}
.fa-users {
  color: #33658A;
  text-shadow: 3px 3px rgb(235, 235, 235);
}
.fa-bar-chart {
  color: #33658A;
  text-shadow: 3px 3px rgb(235, 235, 235);
}


