/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.banner {
  color: #162b80;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column
}

.banner-content {
  padding-top: 200px;
  padding-bottom: 130px;
  font-family: $home-font;
}

.site_name {
  text-shadow: 5px 5px 5px #F2EA57;
  font-family: $home-font;
  font-size: 120px;
  color: #162b80;
}
.catchphrase {
  font-size: 30px;
  letter-spacing: 2px;
}

.btn-medium-home {
  color: #162b80;
  // border: 2px solid white;
  border-radius: 50px;
  opacity: 1;
  width: 170px;
  background-color: #F2EA57;
  font-weight: bolder;
  font-family: $home-font;
  font-size: 40px;
}

.wrapper {
  padding-top: 55px;
  padding-bottom: 55px;
}

.card-static {
  height: 270px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12),0 1px 6px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card-static > i {
  font-size: 60px;
}

.card-static > h3 {
  color: grey;
}

.card-static > p {
  color: grey;
}

.fa-square-o {
  color: #162b80;
  text-shadow: 3px 3px rgb(235, 235, 235);
}
.fa-plus-square-o {
  color: #162b80;
  text-shadow: 3px 3px rgb(235, 235, 235);
}
.fa-users {
  color: #162b80;
  text-shadow: 3px 3px rgb(235, 235, 235);
}
.fa-bar-chart {
  color: #162b80;
  text-shadow: 3px 3px rgb(235, 235, 235);
}
.fa-search {
  color: #162b80;
  text-shadow: 3px 3px rgb(235, 235, 235);
}


