/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.banner-content > h1 {
    text-shadow: 2px 2px 2px grey;
}

.angle-down > i {
  position: absolute;
  left: 48.5%;
  bottom: 50px;
  font-size: 60px;
  &:hover {
    opacity: 0.7;
  }
}

.angle-down > p {
  font-size: 24px;
}

.wrapper {
  padding-top: 75px;
  padding-bottom: 75px;
}

.card-static {
  height: 270px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12),0 1px 6px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
  margin-bottom: 20px;
}

.shadow-z-1 {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12),0 1px 6px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
}
.shadow-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
}

.card-static > i {
  font-size: 60px;
}

.card-static > h3 {
  color: grey;
}

.card-static > p {
  color: grey;
}

.card-plus {
  padding-top: 50px;
  background-color: #F2EA57;
  color: white;
  border: 2px solid white;
  &:hover {
    background-color: #F2E600;
    box-shadow: 3px 3px 3px rgb(235, 235, 235);
  }

  &:active {
    background-color: white;
    color: grey;
  }
}

.card-plus > h3 > a {
  text-decoration: none;
  color: white;

}

.btn-home {
  background-color: #F2EA57 ;
  width: 150px;
  padding: 5px;
  margin: auto;
  font-size: 25px;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 50px;
  border: 2px solid white;
  &:hover {
    background-color: #F2E600;
  }
  &:active {
    background-color: white;
    color: black;
  }

}

.btn-home > a {
    text-decoration: none;
    color: white;
}

.fa-square-o {
  color: #33658A;
  text-shadow: 3px 3px rgb(235, 235, 235);
}

.fa-users {
  color: #33658A;
  text-shadow: 3px 3px rgb(235, 235, 235);
}

.fa-bar-chart {
  color: #33658A;
  text-shadow: 3px 3px rgb(235, 235, 235);
}
