.wrapper-cards-title {
  background-color: grey;
  width: 100%;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 4px solid white;
  box-shadow: 2px 2px 2px grey;
}

.wrapper-cards-btn > a {
  text-decoration: none;
  color: none;
}

.card-index {
  border: 2px solid black;
  box-shadow: 2px 2px 2px grey;
  margin: 25px;
}

.cards-index-actions {
  display: flex;
}

.add-question-form {
  width: 60%;
  margin: 12px;
  padding: 10px;
  border: 4px solid white;
  box-shadow: 2px 2px 2px grey;
  background-color: rgb(155, 232, 97);
  color: white;
  font-style: bold;
}

.share-history {
  width: 42%;
  margin: 12px;
  padding: 10px;
  border: 4px solid white;
  box-shadow: 2px 2px 2px grey;
  background-color:rgb(42, 143, 170);
  color: white;
  font-style: bold;

}

.share-history > p {
  font-size: 16px;
  font-style: italic;
}

// ----------------------------//

// Quizz show body

.body-edition {
  background-color: white;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}


// Quizz edition

.quizz-edition {
  width: 30%;

  background-color: white;
  border-radius: 5px;
  margin: 20px 10px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2) inset;

}


.quizz-picture {
  width: 96%;
  margin: auto;
  height: 250px;
  box-shadow: 2px 2px 2px grey;
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
}

.quizz-edition-titles {
  width: auto;
  margin: 10px;
  margin-left: 50px;
  text-align: left;


}

.quizz-edition-shares {

  width: auto;
  margin: 10px;
  text-align: center;
  margin-left: 50px;
  text-align: left;
}
.quizz-edition-btns {

  width: auto;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 50px;
  text-align: left;
}

.quizz-edition-btns > span {
  margin: 5px
}


// Cards edition

.cards-edition {
  width: 70%;

  background-color: white;
  border-radius: 5px;
  margin: 20px 40px 20px 10px;
  position: relative;
  overflow-y: scroll;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2) inset;

}


.saved-card {
  width: 95%;
  height: 140px;
  margin: 10px 40px 10px 10px;
  padding-left: 40px;
  border-radius: 20px;
  // border: 1px solid black;
  position: relative;
  box-shadow: 2px 2px 2px grey;
  background-color: rgb(157, 159, 160);


}

.saved-card > span{
  color: rgb(235, 235, 235);
}

.card-position {
  position: absolute;
  left: 17px;
  top: 57px;
}

.saved-card-front {
  height: 50%;
  width: 100%;
  // border: 1px solid black;
  background-color: rgb(235, 235, 235);
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  padding-top: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2) inset;

}

.saved-card-back {
  height: 50%;
  width: 100%;
  // border: 1px solid black;
  background-color: rgb(214, 209, 209);
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  padding-top: 5px;
  color: white;
  font-weight: bold;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2) inset;
}

.quizz-show {
  display: flex;
  flex-direction: column;
  height: 100vh;

}
