.intro{
  .intro-colored {
  color: #33658A;
  }
}

.wrapper-cards-title {
  background-color: grey;
  width: 100%;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 4px solid white;
  box-shadow: 2px 2px 2px grey;
}

.wrapper-cards-btn > a {
  text-decoration: none;
  color: none;
}

.card-index {
  border: 2px solid black;
  box-shadow: 2px 2px 2px grey;
  margin: 25px;
}

.cards-index-actions {
  display: flex;
}

.add-question-form {
  width: 60%;
  margin: 12px;
  padding: 10px;
  border: 4px solid white;
  box-shadow: 2px 2px 2px grey;
  background-color: rgb(155, 232, 97);
  color: white;
  font-style: bold;
}

.share-history {
  width: 42%;
  margin: 12px;
  padding: 10px;
  border: 4px solid white;
  box-shadow: 2px 2px 2px grey;
  background-color:rgb(42, 143, 170);
  color: white;
  font-style: bold;

}

.share-history > p {
  font-size: 16px;
  font-style: italic;
}

// ----------------------------//

// Quizz show body

.body-edition {
  padding: 20px;
  background-color: white;
  height: 90vh;
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}


// Quizz edition

.quizz-edition {
  padding: 10px;
  width: 30%;
  margin: 10px;
  margin-right: 30px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  transition: padding 0.25s ease-out, width 0.25s linear;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.6),0 1px 6px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.quizz-picture {
  width: 100%;
  height: 230px;
  background-color: rgb(244, 244, 244);
  border-radius: 2px;

}

.quizz-edition-titles {
  color: rgb(51, 101, 138);
  margin-bottom: 10px;
}

.quizz-edition-titles > h5 {
  font-style: italic;
  color: rgb(51, 101, 138);
}

.card-total {
  color: #808080;
}

.quizz-edition-shares {
  width: auto;
  margin: 10px;
  text-align: center;
  text-align: left;
}
.quizz-edition-btns {
  width: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin: 10px 80px;
}

.quizz-edition-btns > a {
  text-decoration: none;
  color: #33658a;
  font-weight: bold;
}

// Cards edition

.cards-edition {
  width: 70%;
  background-color: white;
  position: relative;
  overflow-y: scroll;
  padding-bottom: 10px

}

.saved-card {
  width: 95%;
  height: 140px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  color: rgb(51, 101, 138);
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2) inset;
  transition: padding 0.25s ease-out, width 0.25s linear;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.6),0 1px 6px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;

}

// .saved-card > span{
//   color: rgb(235, 235, 235);
// }

.card-number {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 15px;
}

.title-card-show {
  font-family: $home-font;
  font-size: 60px;
  color: rgb(51, 101, 138);
  font-weight: bolder;
  margin: 30px;
  text-shadow: 3px 3px 3px #828282;
}

.cards-count {
  position: absolute;
  top: 30px;
  color: #808080;
  font-size: 13px;

}

.details-cards {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #808080;
}

.icons-cards {
  color: #808080;
}
// .saved-card-front {
//   height: 50%;
//   width: 100%;
//   // border: 1px solid black;
//   background-color: rgb(235, 235, 235);
//   border-radius: 20px 20px 0px 0px;
//   text-align: center;
//   padding-top: 5px;
//   box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2) inset;

// }

// .saved-card-back {
//   height: 50%;
//   width: 100%;
//   // border: 1px solid black;
//   background-color: rgb(214, 209, 209);
//   border-radius: 0px 0px 10px 10px;
//   text-align: center;
//   padding-top: 5px;
//   color: white;
//   font-weight: bold;
//   box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2) inset;
// }

.quizz-show {
  display: flex;
  flex-direction: column;
  height: 100vh;

}
