<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.4) 50%), url(<%= image_url 'home-picture.jpg' %>);">
  <div class="banner-content text-center">
      <h1>Cogito Cards</h1>
      </br>
      <h3>Boost your students learning confidence by sharing them your own quizzes</h3>
      </br>
    <div class="btn-home">
      <%= link_to "GO !", quizzs_path %>
    </div>
    <div class="angle-down">
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">
       <div class="col-xs-12 col-md-3 col-lg-3">
          <div class="card-static">
            <i class="fa fa-square-o" aria-hidden="true"></i>
            <i class="fa fa-square-o" aria-hidden="true"></i>
            <i class="fa fa-square-o" aria-hidden="true"></i>
            <h3>Create a card deck</h3>
            <p>According to your subject and knowings you want to check</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-3">
          <div class="card-static">
            <i class="fa fa-users" aria-hidden="true"></i>
            <h3>Share with your students</h3>
            <p>Create your classrooms and send them an invitation to play the cards</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-3">
          <div class="card-static">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            <h3>Measure the results</h3>
            <p>Analyze your classroom statistics to know which part of last chapter you need to reboot</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-3">
          <div class="card-static card-plus">
            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            <h3><%= link_to "Start your first deck", quizzs_path %></h3>

          </div>
        </div>
    </div>
  </div>
</div>

