<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.5) 50%), url(<%= image_path("schoolbus2.jpg")%>);">
  <div class="banner-content text-center">
    <h1>Cogito Cards</h1>
    <h3>Boost your students learning confidence by sharing them your own quizzes</h3>
  </div>
  <%= link_to quizzs_path do %>
    <div class="btn-medium">
      <h5>GO!</h5>
    </div>
  <%end%>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="card-static shadow-z-1">
          <i class="fa fa-plus-square-o" aria-hidden="true"></i>
          <h3>Create a Quizz game!</h3>
          <p>Chose a quizz name linked to the course of day</p>
        </div>
      </div>
       <div class="col-xs-12 col-sm-6 col-lg-3">
          <div class="card-static shadow-z-1">
            <i class="fa fa-square-o" aria-hidden="true"></i>
            <i class="fa fa-square-o" aria-hidden="true"></i>
            <i class="fa fa-square-o" aria-hidden="true"></i>
            <h3>Create a card deck</h3>
            <p>According to your subject and knowings you want to check</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <div class="card-static shadow-z-1">
            <i class="fa fa-users" aria-hidden="true"></i>
            <h3>Share with your students</h3>
            <p>Create your classrooms and send them an invitation to play the cards</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-3">
          <div class="card-static shadow-z-1">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
            <h3>Measure the results</h3>
            <p>Analyze your classroom statistics to know which part of last chapter you need to reboot</p>
          </div>
        </div>
    </div>
  </div>
</div>



