.footer {
  background-size: cover;
<<<<<<< HEAD
<<<<<<< HEAD
  background: #F5F7FA;
  height: 80px;
  padding: 20px;
=======
  background: white;
  height: 60px;
  padding: 5px;
>>>>>>> a197f384026faf06b97b7a5feec1f280ee8ebd7a
=======
  background: #F5F7FA;
  height: 60px;
  padding: 5px;
>>>>>>> 6cef4586c1490185e3f0a36f39dceea967fdbe80
  width: 100%;
}

.footer i{
  font-size: 30px;
  padding: 10px;
<<<<<<< HEAD
<<<<<<< HEAD
  color: #99907D;
=======
  color: black;
>>>>>>> a197f384026faf06b97b7a5feec1f280ee8ebd7a
=======
  color: #99907D;
>>>>>>> 6cef4586c1490185e3f0a36f39dceea967fdbe80
}
