.footer {
  background-size: cover;
  background: #D0E3CC;
  height: 65px;
  padding: 5px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer i{
  font-size: 30px;
  padding: 10px;
  color: #162b80;
}
