/* Main class */
.navbar-cogito {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: #828282;
  border: none;
  transition: all 0.3s ease;
  display: flex;
  height: 65px;
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  transition: background-color 1s ease 0s;
}

.logo {
  font-family: $home-font;
  font-size: 25px;
  color: white;
  font-weight: 700;
}

/* Navbar logo */
.navbar-cogito-logo img {
  width: 25px;
  background-color: transparent;
  color: #33658A;
}

/* Navbar right section (with form, links, button) */
.navbar-cogito-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-cogito-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
  color: #33658A;
}

/* Navbar standard link */
.navbar-cogito-link {
  color: #33658A;
  font-size: 20px;
}
.navbar-cogito-link:hover {
  color: #33658A;
  text-decoration: none;
}

/* Navbar dropdown menu */
.navbar-cogito-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #828282;

}
.navbar-cogito-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #33658A !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-cogito-dropdown-menu li > a:hover {
  background: transparent !important;
  color: #33658A !important;
}
.navbar-cogito-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #33658A;
  border-top: 1px solid #33658A;
}

.fa-bars {
  color: white;
}
