/* Main class */
.navbar-cogito {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: white;
  transition: all 0.3s ease;
  display: flex;
  height: 60px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

/* Navbar logo */
.navbar-cogito-logo img {
  width: 35px;
  background-color: white;

}

/* Navbar right section (with form, links, button) */
.navbar-cogito-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-cogito-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
  color: white;
}

/* Navbar standard link */
.navbar-cogito-link {
  color: white;
  font-size: 20px;
}
.navbar-cogito-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Navbar dropdown menu */
.navbar-cogito-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-cogito-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-cogito-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-cogito-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
