<div class="super-wrapper">
  <div class="container">
    <h1>Edit a quizz</h1>
    <div class="content">
      <div class="form">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
