<div class="super-wrapper">
  <div class="container">
    <h1>Create a quizz</h1>
    <div class="content">
      <div class="form">
        <%= render 'form' %>
        <br>
        <%= link_to "Back to my quizzes", quizzs_path, method: :get, class: "btn btn-danger"%>
      </div>
    </div>
  </div>
</div>
