.btn-medium {
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 1;
    width: 170px;
    background-color: #FFD400;
    font-weight: bolder;
    font-family: $home-font;
}

.btn-medium:hover {
  text-decoration: none;
  color: #FFD400;
  border: 2px solid #FFD400;
  background-color: white;
}

.btn-students-yel {
    color: white;
    border-radius: 10px;
    opacity: 1;
    background-color: #FCDA00;
    border: 1px solid white;
    padding:5px;
}


.btn-students-red {
    color: white;
    border-radius: 10px;
    opacity: 1;
    background-color: #FC2D49;
    border: 1px solid white;
    padding:5px;
}

.btn-students-green {
    color: white;
    border-radius: 10px;
    opacity: 1;
    background-color: #1EE494;
    border: 1px solid white;
    padding:5px;
}

