.btn-medium {
    color: #33658A;
    border: 2px solid white;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 1;
    width: 170px;
    background-color: #F2EA57;
    font-weight: bolder;
}
.btn-medium:hover {
  text-decoration: none;
  color: #999999;
  border: 2px solid #33658A;
}

.btn-students-yel {
    color: white;
    width: 140px;
    border-radius: 30px;
    opacity: 1;
    background-color: #FCDA00;
    border: 1px solid white;
}


.btn-students-red {
    color: white;
    width: 140px;
    border-radius: 30px;
    opacity: 1;
    background-color: #FC2D49;
    border: 1px solid white;
}

.btn-students-green {
    color: white;
    width: 140px;
    border-radius: 30px;
    opacity: 1;
    background-color: #1EE494;
    border: 1px solid white;
}

