.card {
   position: relative;
   margin: 15px auto;
   padding: .5em;
   border-radius: 2px;

   transform-style: preserve-3d;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
   cursor: pointer;
   transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

   .card__front,
   .card__back {
      width: inherit;
      height: inherit;

      display: flex;
      justify-content: center;
      align-items: center;

      backface-visibility: hidden;
   }

   .card__front {
      img {
         max-width: 100%;
         height: auto;
      }
   }

   .card__back {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      padding: .5em;
      text-align: center;
      color: white;

      background: rgba(26, 188, 156,1.0);
      overflow: auto;
      transform: rotateY(180deg);
   }

   &.card--flipped,
   //:hover state solve problem with Safari Mobile
   &:hover.card--flipped {
      transform: rotateY(180deg);
   }
}
