.classroom_card {
  background-color: #fff;
  background-size: cover;
  transition: padding 0.25s ease-out, width 0.25s linear;
  border: 10px solid white;
  color: black;
  margin-bottom: 10px;
  width: 300px;
}

.intro{
  padding-bottom: 60px;
}
