
.title-container {
  color: rgba(26, 188, 156,1.0)
}

.card {
   height: 300px;
   width: 100%;
   max-width: 600px;
   position: relative;
   border-radius: 30px;
   transform-style: preserve-3d;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
   cursor: pointer;
   transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  .card__front,
  .card__back {
    width: inherit;
    height: inherit;
    text-align:center;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
  }

  .card__back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    text-align: center;
    color: white;

    background: rgba(26, 188, 156,1.0);
    overflow: auto;
    transform: rotateY(180deg);
  }

  &.card__flipped {
  //:hover state solve problem with Safari Mobile
  // &:hover.card--flipped {
    transform: rotateY(180deg);
  }
}

.card-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.card {
  transform: translateX(-2000px);
  position: absolute;
  top: 0;
  &.card-current {
    transform: translateX(0);
  }
  &.card-current.card__flipped {
    transform: translateX(0) rotateY(180deg);
  }
  &.card-played {
    transform: translateX(2000px);
    display: none;
  }
  .card-back {
    display: flex;
    flex-direction: column;
    padding-top: 80px
  }

  .card-answer {
    flex-grow:1;
  }

  .card-evaluation {
    display:flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 10px
  }
}

.finished {
  opacity: 0;
  transition: opacity 0.8s ease;
  &.card-current {
    opacity: 1;
  }
}
