.my-quizzes{
  margin-top: 80px;
}

.quizz_card {
  background-color: #fff;
  background-size: 100% 70%;
  background-repeat: no-repeat;
  height: 340px;
  transition: padding 0.25s ease-out, width 0.25s linear;
  border: 10px solid white;
  color: white;
  margin-bottom: 30px;
  position: relative;
}

.quizz_card > a {
  text-decoration: none;
  color: #33658A;
}

.quizz_card > a > i {
  text-decoration: none;
  color: white;
  font-size: 70px;
}

.add_a_quizz {
  display: flex;
  height: 225px;
  background-color: #F2EA57;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.shadow-z-1 {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12),0 1px 6px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.details {
  height: 80px;
  position: absolute;
  bottom: 0;
  color: black;
  width: 100%;
  display:flex;
  flex-direction: column;
  background-color: white;
  padding-top: 10px;

  .details > h3 {
    font-size: 20px;
  }
}
.shortcuts{
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 22px;
}

.quizz_card_name {
  font-weight: bolder;
  font-size: 20px;
}

.fa-trash-o{
 color: #33658A;
 padding-left: 6px;
}

.fa-pencil{
  color: #33658A;
  padding-left: 6px;
}

.fa-share-alt{
  color: #33658A;
  padding-left: 6px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
.quizz_card_image {
  height: 260px;
  background-size: cover !important;
}
