.quizz_card {
  background-color: #fff;
  background-size: cover;
  position: relative;
  height: 260px;
  width: 260px;
  transition: padding 0.25s ease-out, width 0.25s linear;
  border: 10px solid white;
  color: white;
  margin-bottom: 10px;

  .quizz_card-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: top;
    font-size: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
  }
}
.shadow-z-1 {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12),0 1px 6px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
}
.shadow-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
}

.details {
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.quizz_category{
  position: absolute;
  padding-top: 3px;
  padding-left: 5px;
}

.quizz_name{
  position: absolute;
  width: 100%;
  top: 30%;
  font-size: 30px;
}

.action{
  margin-top: 50px;
  margin-bottom: 30px;
}

