.quizz_card {
  background-color: #fff;
  background-size: cover;
  position: relative;
  height: 260px;
  transition: padding 0.25s ease-out, width 0.25s linear;
  border: 10px solid white;
  color: white;
  margin-bottom: 10px;

}
.shadow-z-1 {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12),0 1px 6px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
}
.shadow-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
}

.details {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 20px;
  padding-bottom: 4px;
}

.fa-trash-o{
 color: white;
 padding-left: 4px;
}

.fa-pencil{
  color: white;
  padding-left: 4px;
}

.fa-eye{
  color: white;
  padding-left: 4px;
}

.quizz_card_category{
  position: absolute;
  padding-top: 3px;
  padding-left: 5px;
}

.quizz_card_name{
  position: absolute;
  width: 100%;
  top: 30%;
  font-size: 30px;
}

.action{
  margin-top: 50px;
  margin-bottom: 30px;
}

